<div class="subscribed-list flex flex-jc-c">
  <h3>SUBSCRIBED</h3>
  <a href=""
    ><img src="../../../../assets/images/Jack.png" />
    <p>Jack</p></a
  >
  <a href=""
    ><img src="../../../../assets/images/simon.png" />
    <p>Simon</p></a
  >
  <a href=""
    ><img src="../../../../assets/images/tom.png" />
    <p>Tom</p></a
  >
  <a href=""
    ><img src="../../../../assets/images/megan.png" />
    <p>Megan</p></a
  >
  <a href=""
    ><img src="../../../../assets/images/cameron.png" />
    <p>Cameron</p></a
  >
</div>
