<nav class="header flex flex-ai-c">
  <div class="nav-left flex flex-ai-c">
    <app-hamburger-menu></app-hamburger-menu>
    <div class="nav-left flex">
      <img src="../../../../assets/images/logo.png" class="logo" />
    </div>
  </div>
  <div class="nav-center flex flex-ai-c"><app-search-bar></app-search-bar></div>
  <div class="nav-right flex flex-ai-c hide-for-mobile">
    <div class="nav-right flex flex-ai-c">
      <img src="../../../../assets/images/upload.png" />
    </div>
    <div class="nav-right flex">
      <img src="../../../../assets/images/notification.png" />
    </div>
    <app-user></app-user>
  </div>
</nav>
