.sidebar {
  background: #fff;
  width: 15%;
  position: absolute;
  top: 0;
  padding-left: 2%;
  padding-top: 7.5rem;
}

.shortcut-links a {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  width: fit-content;
  flex-wrap: wrap;
}

.subscribed-list h3 {
  font-size: 0.8125rem;
  margin: 1.25rem 0;
  color: #5a5a5a;
}
