<div class="sidebar flex flex-ai-c hide-for-mobile">
  <div class="scrollbar">
    <div class="shortcut-links">
      <app-home></app-home>
      <app-explore></app-explore>
      <app-subscription></app-subscription>
      <app-library></app-library>
      <app-history></app-history>
      <app-playlist></app-playlist>
      <app-messages></app-messages>
      <app-showmore></app-showmore>
      <hr />
      <app-subscribed></app-subscribed>
      <app-showmore-subscriptions></app-showmore-subscriptions>
      <hr />
    </div>
  </div>
</div>
