<div class="search-box"><input type="text" placeholder="Search" [(ngModel)]="filterVideos" /></div>
<div class="list-container">
  <div *ngFor="let item of data | filter : filterVideos" class="vid-list">
    <a href=""><img src="{{ item.video }}" class="thumbnail" /></a>
    <div class="flex-div">
      <img src="{{ item.icon }}" />
      <div class="vid-info">
        <a href=""> {{ item.title }} </a>
        <h4>{{ item.subtitle }}</h4>
        <p>{{ item.views }}</p>
      </div>
    </div>
  </div>
</div>
