<div class="list-container">
  <div class="vid-list">
    <a href=""><img src="../../../../assets/images/thumbnail1.png" class="thumbnail" /></a>
    <div class="flex-div">
      <img src="../../../../assets/images/Jack.png" />
      <div class="vid-info">
        <a href=""> Best Channel to learn coding </a>
        <p>Easy Tuturials</p>
        <p>15k views &bull; 2 days</p>
      </div>
    </div>
  </div>
  <div class="vid-list">
    <a href=""><img src="../../../../assets/images/thumbnail2.png" class="thumbnail" /></a>
    <div class="flex-div">
      <img src="../../../../assets/images/Jack.png" />
      <div class="vid-info">
        <a href=""> Best Channel to learn coding </a>
        <p>Easy Tuturials</p>
        <p>15k views &bull; 2 days</p>
      </div>
    </div>
  </div>
  <div class="vid-list">
    <a href=""><img src="../../../../assets/images/thumbnail3.png" class="thumbnail" /></a>
    <div class="flex-div">
      <img src="../../../../assets/images/Jack.png" />
      <div class="vid-info">
        <a href=""> Best Channel to learn coding </a>
        <p>Easy Tuturials</p>
        <p>15k views &bull; 2 days</p>
      </div>
    </div>
  </div>
  <div class="vid-list">
    <a href=""><img src="../../../../assets/images/thumbnail4.png" class="thumbnail" /></a>
    <div class="flex-div">
      <img src="../../../../assets/images/Jack.png" />
      <div class="vid-info">
        <a href=""> Best Channel to learn coding </a>
        <p>Easy Tuturials</p>
        <p>15k views &bull; 2 days</p>
      </div>
    </div>
  </div>
  <div class="vid-list">
    <a href=""><img src="../../../../assets/images/thumbnail5.png" class="thumbnail" /></a>
    <div class="flex-div">
      <img src="../../../../assets/images/Jack.png" />
      <div class="vid-info">
        <a href=""> Best Channel to learn coding </a>
        <p>Easy Tuturials</p>
        <p>15k views &bull; 2 days</p>
      </div>
    </div>
  </div>
  <div class="vid-list">
    <a href=""><img src="../../../../assets/images/thumbnail6.png" class="thumbnail" /></a>
    <div class="flex-div">
      <img src="../../../../assets/images/Jack.png" />
      <div class="vid-info">
        <a href=""> Best Channel to learn coding </a>
        <p>Easy Tuturials</p>
        <p>15k views &bull; 2 days</p>
      </div>
    </div>
  </div>
  <div class="vid-list">
    <a href=""><img src="../../../../assets/images/thumbnail7.png" class="thumbnail" /></a>
    <div class="flex-div">
      <img src="../../../../assets/images/Jack.png" />
      <div class="vid-info">
        <a href=""> Best Channel to learn coding </a>
        <p>Easy Tuturials</p>
        <p>15k views &bull; 2 days</p>
      </div>
    </div>
  </div>
  <div class="vid-list">
    <a href=""><img src="../../../../assets/images/thumbnail8.png" class="thumbnail" /></a>
    <div class="flex-div">
      <img src="../../../../assets/images/Jack.png" />
      <div class="vid-info">
        <a href=""> Best Channel to learn coding </a>
        <p>Easy Tuturials</p>
        <p>15k views &bull; 2 days</p>
      </div>
    </div>
  </div>
</div>
